/*\
| | Jesse Kramer
| | March 2016
| | jessekramer.bitbucket.org
\*/

body {
    background: #eee;
    font-family: sans-serif;
}
a {
    color: dodgerblue;
}
footer {
    position: fixed;
    bottom: 0;
    padding: 1em 0;
    text-align: center;
    color: rgba(0,0,0,0.4);
    width: 100%;
}
#popup {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.4);
}

/*\
| | COMPONENTS
\*/
.card {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 2rem;

    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 2px;

    box-shadow: 0 2px 3px rgba(0,0,0,0.6);
    background: white;

    text-align: center;
}
.textbox {
    outline: none;
    border: none;
    border-bottom: 0.1em solid rgba(0,0,0,0.3);

    font-family: sans-serif;
    font-size: 1.8rem;

    margin: 1em;
    padding: 0.1em 0.2em;
    min-width: 48rem;
}
.textbox:focus {
    outline: none;
    border: none;
    border-bottom: 0.1em solid rgba(0,100,100,0.3);
}
.textbox:active {
    outline: none;
    border: none;
    border-bottom: 0.1em solid rgba(0,100,100,0.3);
}
.button {
    outline: none;
    border: none;
    border-radius: 2px;
    border-bottom: 0.2em solid rgba(0,100,100,0.6);

    font-family: sans-serif;
    font-weight: bold;
    font-size: 1.8rem;
    color: white;
    text-shadow: 0 0 0.2em rgba(0,0,0,0.4);

    min-width: 48rem;
    padding: 0.5em;

    background: rgba(0,100,100,0.6);
    cursor: pointer;
}
.button:active {
    background: rgba(0,100,100,0.55);
}
.button:hover {
    background: rgba(0,100,100,0.55);
}
.header {
    margin: 0.5em 0;
    color: rgba(0,0,0,0.8);
}

